@charset "UTF-8";

/* 基本設定
=============================================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html, body {
  font-size: 62.5%;
}

body {
  font-family: "Yu Gothic Medium", YuGothic, "游ゴシック Medium", "Yu Gothic", "メイリオ", "Meiryo", "MS PGothic", sans-serif;
  line-height: 2.4;
  letter-spacing: 0.8px;
  text-align: center;
  color: #333333;
  font-size: 16px;
  height: 100%;
  margin: 0px;
  padding: 0px;
  min-width: 1280px;
}

img {
  vertical-align: bottom;
}

a {
  color: #333333;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

a:hover img {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  margin: 0;
  padding: 0;
}

::selection {
  background: #a78f73;
  color: #fff;
}

main {
  width: 100%;
}

/* コンテンツ
=============================================== */

main {
	height: 2222px;
	background-color: #FDFBF3;
}



table {
	width: 753px;
	margin: 72px auto 0;
}

table:first-child  {
	margin-top: 0;
}

/*
table:nth-child(1) {
	margin-top: 0;
}
*/

th {
	font-size: 30px;
	font-weight: 400;
	text-align: left;
}

.sissor:before {
	font-family: "Font Awesome 5 Free";
	content: '\f0c4';
	font-weight: 900;
	padding-right: 1rem;
	color: #333;
}

tr{
	border-bottom: 1px solid #9A9A9A; 
}

tr:last-child {
	border-bottom:  1px solid #9A9A9A;
}

tr:first-child {
	border-top: none;
}

td{
	font-size: 14px;
	line-height: 3.85;
}

td:before {
	content:'　';
}

.menu {
	width: 578px;
	text-align: left;
}


/* PC用共通ボタン
=================================== */
.btn {
  box-sizing: inherit;
  display: block;
  width: 288px;
  height: 68px;
  background-color: #E2DFDA;
  font-size: 30px;
  font-weight: 400;
  font-family: "Open+Sans";
  text-align: center;
  border-radius: 5px;
  outline: none;
  align-items: center;
}

.btn a {
  display: block;
  color: #524F4C;
  text-decoration: none;
}

.btn:hover {
  background-color: #FFF;
  color: #A78F73;
  border: 2px solid #A78F73;
}

.btn:hover a {
  color: #A78F73;
  margin: -2px;
}

/* PC用共通タイトル
=================================== */
h2 {
  color: #A78F73;
  font-family: "Open+Sans";
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.8px;
}

.ttl-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 23.5px;
}

.ttl-wrapper p {
  width: 325px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: -22.1px auto 29.4px;
  color: #524F4C;
  font-size: 18px;
  font-weight: bold;
  font-family: "Yu Gothic Medium", YuGothic, "游ゴシック Medium", "Yu Gothic", "メイリオ", "Meiryo", "MS PGothic", sans-serif;
}

h2 span {
  display: block;
  margin: 0 auto;
  left: 0;
  width: 103px;
  height: 2px;
  border-top: 2px dashed #524F4C;
}

/* グローバルナビ
=============================================== */
#g-nav {
  max-width: 1280px;
  height: 160px;
  font-size: 12px;
  font-weight: bold;
  padding: 26.5px 0;
  margin: 0 auto;
}

#g-nav p {
  font-family: "Open+Sans";
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: 0.8px;
}

#g-nav span {
  display: block;
  margin: 0 auto;
  left: 0;
  width: 125px;
  height: 3px;
  background-color: #a78f73;
  border-radius: 4px;
}

#g-nav-ul {
  width: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* フッター
=============================================== */

footer {
  position: relative;
  background-color: #524F4C;
  width: 100%;
  height: 258px;
  margin: 0 auto;
  color: #F5F3F0;
  font-size: 12px;
}

footer ul {
  margin: 0 auto;
  padding: 24px 0 13.5px;
  display: flex;
  width: 971px;
}

footer ul li {
  height: 24px;
  display: block;
  width: 161px;
  border-left: 1px solid #F5F3F0;
  margin: -1px;
  line-height: 2;
}

footer ul li:last-child {
  border-right: 1px solid #F5F3F0;
}

footer ul li a{
    color: #F5F3F0;
}

footer img {
  margin-bottom: 11.6px;
}

footer .go-top {
  position: absolute;
  display: block;
  width: 65px;
  height: 65px;
  right: 34px;
  bottom: 225px;
  background-color: #E2DFDA;
  border-radius: 50%;
}

footer .go-top img {
  width: 46px;
  height: 46px;
  margin-top: 10px;
}

/* レスポンシブ用ナビ
=============================================== */

#phone-nav {
  display: none;
}
